<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Autism Foundation</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- ~/libraries CSS Files -->
    <link href="~/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/venobox/venobox.css" rel="stylesheet">

    <!-- Nivo Slider Theme -->
    <link href="css/nivo-slider-theme.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Responsive Stylesheet File -->
    <!-- =======================================================
      Theme Name: autism foundation

    ======================================================= -->
</head>
<body data-spy="scroll" data-target="#navbar-example">

    <div id="preloader"></div>

    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <!-- Navigation -->
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                                    <h1><span>A</span>utism <span>F</span>oundation</h1>
                                    <!-- Uncomment below if you prefer to use an image logo -->
                                    <!-- <img src="img/logo.png" alt="" title=""> -->
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active">
                                        <a class="page-scroll" href="home.html">Home</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="aboutUs.html">About</a>
                                    </li>

                                    <li>
                                        <a class="page-scroll" href="partnership.html">Partnership</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="blog.html">Blog</a>
                                    </li>

                                    <li>
                                        <a class="page-scroll" href="resourcesEng.html">Resources</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#">Books</a>
                                    </li>

                                </ul>

                            </div>
                            <!-- navbar-collapse -->
                        </nav>
                        <!-- END: Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
    </header>
    <!-- header end -->
    @RenderBody()

    <!-- Start Footer bottom Area -->
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <div class="footer-logo">
                                    <h2><span>A</span>utism <span>F</span>oundation</h2>
                                </div>

                                <p>Your generosity what make its is possible to the world</p>
                                <div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-google"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-pinterest"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>information</h4>
                                <p>
                                    If you have any problems, please contact us...
                                </p>
                                <div class="footer-contacts">
                                    <p><span>Tel:</span> 011-3151 2474</p>
                                    <p><span>Email:</span>bcs21090019@Student.uts.edu.my</p>
                                    <p><span>Working Hours:</span> 9am-5pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <!-- end single footer -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>Instagram</h4>
                                <div class="flicker-img">
                                    <a href="#"><img src="img/dota/kunka.jpg" alt=""></a>
                                    <a href="#"><img src="img/csgo/csgo1.jpg" alt=""></a>
                                    <a href="#"><img src="img/fifa/fifa2.jpg" alt=""></a>
                                    <a href="#"><img src="img/ml/ml4.jpg" alt=""></a>
                                    <a href="#"><img src="img/kahoot/kahoot1.png" alt=""></a>
                                    <a href="#"><img src="img/fifa/fifa1.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright text-center">
                            <p>
                                &copy; Copyright <strong>Autism Foundation UTS</strong>. All Rights Reserved
                            </p>
                        </div>
                        <div class="credits">
                            <!--

                            -->
                            Designed by <a href="https://www.facebook.com/amali1.98">Aimi Athirah</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript ~/libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/venobox/venobox.min.js"></script>
    <script src="~/lib/knob/jquery.knob.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/parallax/parallax.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <script src="js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>