@page
@model newadmin.Pages.PartnershipModel
@{
}

<html>

<form id="editdean" method="post">
    <input hidden/>
    <fieldset>
        <p>
            <b> Blogsite Edit 1</b>
        </p>


        <legend>Blog Title</legend>
        <input type="text" name="blogtitle1"/>
        </br>

        <legend>Discription</legend>
        <input type="text" name="blogdiscription1"/>
        </br>

        <input type="submit" value="Submit"></input>
    </fieldset>

</form>


</html>