@page
@model newadmin.Pages.BlogModel
@{
}

<html>

<form id="editblog" method="post">
    <input hidden/>
    <fieldset>
        <p>
            <b> Blogsite Edit 1</b>
        </p>

        <legend>Upload Photo</legend>
        <input type="file" name="blogphoto1" />
        </br>

        <legend>Blog Title</legend>
        <input type="text" name="blogtitle1"/>
        </br>

        <legend>Discription</legend>
        <input type="text" name="blogdiscription1"/>
        </br>

        <legend>context</legend>
        <input type="text" name="blogcontext1" />
        </br>

        <input type="submit" value="Submit"></input>
    </fieldset>


    <br />
    <br />
    <br />

    <input hidden />
    <fieldset>
        <p>
            <b> Blogsite Edit 2</b>
        </p>

        <legend>Upload Photo</legend>
        <input type="file" name="blogphoto2" />
        </br>

        <legend>Blog Title</legend>
        <input type="text" name="blogtitle2" />
        </br>

        <legend>Discription</legend>
        <input type="text" name="blogdiscription2" />
        </br>

        <legend>context</legend>
        <input type="text" name="blogcontext2" />
        </br>

        <input type="submit" value="Submit"></input>
    </fieldset>


</form>






</html>

