@page
@model Projecttest1.Pages.aboutUsModel
@{
}

<link href="~/css/aboutUs.css" rel="stylesheet">
<br>
<br>
<br>
<br>
<!-- header end -->
<!---tagged area---->
<br>
<br>
<br>
<br>
<div class="box1" id="tagged">
    <a href="aboutUs" class="lines">Who we are</a>
    <a href="Ourwork" class="lines">Our Work</a>
    <a href="Team" class="lines">Team</a>
    <a href="Policies" class="lines">Policies</a>
</div>

<!--------------- box area---------->
<br>
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>About<i> the Austism Foundation</i></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box2" id="who">

    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Who<i> we are</i></h3>
                    </div>
                </div>
            </div>
        </div>

        We are Non-Profit 501(c)3 organization committed to educating and assisting
        Sarawakian Malaysian families with Autistic children


        Autism affects children of every race, ethical group and socioeconomic satus.
        Sarawakian-Malaysain children are frequently confronted with late diagnosis or
        misdiagnosis. Sarawakian Malaysian Autism Support is vital to the development
        of undersaved children.


        Our goal is to help families identify the warning signs of autism early on. We
        can start to overrun these disparities by helping Sarawakian-Malaysian with autism
        reach their full potential. We empower families with information on autism that
        they can use to advocate for services for their child.
    </div>
</div>
<br>

<div class="box3" id="miss">
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Our<i> Mission</i></h3>
                    </div>
                </div>
            </div>
        </div>

        the color of autism foundation is committed to serving people of color
        who are affected by autism spectrum disorders. we are devoted to empowering
        families and lessoning their isolation. our goal is to build efficacy and end
        the stigma of autism spectrum disorders in commuties of color.

    </div>
</div>
<br>

<div class="box4">
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>what<i> we do</i></h3>
                    </div>
                </div>
            </div>
        </div>


        1. parent eduction, advocy and support <br />
        2. self-advocate support <br />
        3. job skills and transition to adulthood <br />
        4. research initiatives<br />
        5. digital advocacy<br />
        6. town halls, webinars, and collaborations<br />
        7. local, national, international<br />
    </div>

</div>
<br>

<div class="box3">
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Our<i> Impact</i></h3>
                    </div>
                </div>
            </div>
        </div>


        the color of autism foundation is non-profit, dedicated to addressing the
        needs of underserved families affected by autism spectrum disorders. We serve
        as the connecting thread by connecting families to services and other families
        building a spectrum of care within communuties of color.
        <br /><br />

        since our inception, we have provided resources and services to thousands of
        families through programs centered on health and human services, education and
        awareness, and outreach and advocacy.

    </div>


</div>



<br>
<br>