@page
@model Projecttest1.Pages.DonateModel
@{
}

<link href="css/partnership.css" rel="stylesheet">
<link href="css/policies.css" rel="stylesheet">


<!---tagged area---->
<br>
<br>
<br>
<br>
<div class="box1" id="tagged">
    <a href="Partnership" class="lines">Our Programs</a>
    <a href="Register" class="lines">Register</a>
    <a href="Joinus" class="lines">Join Us</a>
    <a href="Donate" class="lines">Donation</a>
</div>
<br>

<!--------------- box area---------->
<br>

<div class="box2" id="donate">

    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Make<i> Donation</i></h3>
                    </div>
                </div>
            </div>
        </div>
        <i>We want to do our best, so they can be their best!</i><br>

        but we cant do it alone, we need your help; donations to build this foundation where they will find education, living spaces, or be trained to the job they love and want. To develop the services and programs they want/ services work. Think of difference your donation of time and or money will make in so many lives!<br>

        <b>Our promise to protect the privacy and confidentiality of your personal data: All personal data collected will be treated according to the requirements in Personal Data(Privacy) with respect to the management of personal information. We promise not to sell, share or swap your personal information with any other company/organization. The information you provide will be treated as srictly confidential, used only by MARF and our carefully selected service providers for the purpose of donation administration.</b>



    </div>
</div>
<br>


<!-- donate area -->
<br>
<div class="container theme-background-white main-body" id="donating">
    <div class="col-md-12">
        <div class="row donate-bar">
            <div class="col-md-4 theme-blue">
                <h2>Donation</h2>
                GIVE WHERE NEEDED MOST
            </div>
            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-left donate-buttons" id="donate-buttons">
                    <li>
                        <a href="#">
                            <button class="btn-blue active" data-dollars='20' data-impact="Covers housing or counseling services for one person">
                                RM 20
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <button class="btn-blue" data-dollars='50' data-impact="Covers housing or counseling services for two people">
                                RM 50
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <button class="btn-blue" data-dollars='80' data-impact="Covers housing or counseling services for four people">
                                RM 80
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <button class="btn-blue" data-dollars='100' data-impact="Covers housing or counseling services for twenty people">
                                RM 100
                            </button>
                        </a>
                    </li>
                    <li id="other">
                        <a href="#">
                            <button class="btn-blue-other" data-dollars='other' data-impact="Thank you!">
                                OTHER
                            </button>
                        </a>
                    </li>
                    <li id="other-input">
                        <span>RM</span>
                        <input data-impact="That’s great. Thank you!">
                    </li>
                    <li>
                        <a href="#">
                            <button class="btn-green" data-toggle="modal" data-target="#myModal">
                                DONATE
                            </button>
                        </a>
                    </li>
                    <li style="display: none;">
                        <a href="#">
                            LEARN MORE<i class="fa fa-chevron-right margin-left"></i>
                        </a>
                    </li>
                </ul>
                <p class="impact">
                    Covers housing or counseling services for one person
                </p>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header well text-center theme-background-blue">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h2>You’re Donating:</h2>
                                <h1 style="font-size: 5.5em; margin-top: 0;">$<span id="price"></span></h1>
                                <em>Thank you!</em>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <section class="col-md-12">
                                        <form>
                                            <fieldset class="col-md-6">
                                                <legend>
                                                    Your personal info
                                                </legend>
                                                <label>Your Name</label>
                                                <input type="string" class="form-control">
                                                <label>Your email</label>
                                                <input type="email" class="form-control">
                                                <label>Address</label>
                                                <input type="email" class="form-control">
                                                <label>City, State, Zip Code</label>
                                                <input type="email" class="form-control">
                                            </fieldset>
                                            <fieldset class="col-md-6">
                                                <legend>
                                                    Credit Card Information
                                                </legend>
                                                <label for="card-number">Credit Card Number</label>
                                                <input placeholder="1234 5678 9012 3456" pattern="[0-9]*" type="text" class="form-control card-number" id="card-number">
                                                <label for="card-number">Expiration Date</label>
                                                <input placeholder="MM/YY" pattern="[0-9]*" type="text" class="form-control card-expiration" id="card-expiration">
                                                <label for="card-number">CVV Number</label>
                                                <input placeholder="CVV" pattern="[0-9]*" type="text" class="form-control card-cvv" id="card-cvv">
                                                <label for="card-number">Billing Zip Code</label>
                                                <input placeholder="ZIP" pattern="[0-9]*" type="text" class="form-control card-zip" id="card-zip">
                                            </fieldset>
                                        </form>
                                    </section>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">BACK</button>
                                <button type="button" class="btn-green">CONTINUE</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div><!--/.donate-bar-->
    </div><!-- /.col-md-12 -->
</div>
<br>

<!-- end donation area -->