@page
@model Projecttest1.Pages.ebooksModel
@{
}

<link href="~/css/ebook.css" rel="stylesheet">

<br>
<br>
<br>
<br>
<section class="details-card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="autistic.jpg" alt="">
                        <span><h4>Course</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Course</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam
                        </p>
                        <a href="Payment1" class="btn-card">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="workshop.jpg" alt="">
                        <span><h4>Workshop</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Workshop Training |8 hours</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam
                        </p>
                        <a href="Payment2" class="btn-card">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="brain.jpg" alt="">
                        <span><h4>Podcast </h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>Podcast & Audio </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam
                        </p>
                        <a href="Payment3" class="btn-card">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- credit: https://bootsnipp.com/snippets/WaeDX -->