@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Start Slider Area -->
<div id="home" class="slider-area">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            <img src="autism.png" alt="" title="#slider-direction-1" />
            <img src="Autism1.jpeg" alt="" title="#slider-direction-2" />
            <img src="autistic.jpg" alt="" title="#slider-direction-3" />
        </div>

        <!-- direction 1 -->
        <div id="slider-direction-1" class="slider-direction slider-one">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                                <h2 class="title1">Autism Society </h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                <h1 class="title2">" <i>Connection is with you</i> "</h1>

                            </div>
                            <!-- layer 3 -->
                            <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <a class="ready-btn page-scroll" href="#about">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction slider-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content text-center">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <h2 class="title1">Everyone’s story is different.</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                <h1 class="title2">" <i>The experience of Autism is not one thing. It is many things. It’s dreams, talents, relationships, victories, hurdles, and everything in between. The connection between those experiences is you.</i> "</h1>
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <a class="ready-btn page-scroll" href="#about">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- direction 3 -->
        <div id="slider-direction-3" class="slider-direction slider-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <h2 class="title1">Make a Donation of Support of Autism</h2>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                <h1 class="title2">" <i>Your gift help suport autism education, awareness, advocacy, research and most inportatnly enable us to assist families living with autism</i> "</h1>
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <a class="ready-btn page-scroll" href="#about">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area -->
<!-- Start About area -->
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>About <i>us</i></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="Autism_Awareness.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">Autism Foundation</h4>
                        </a>
                        <p>
                            We are Non-profit organization committed to education and assisting Sarawakian families with autistic children<br>

                            Our goal is to help families identify the warning signs of autism early on. We empower families with information on autism that they can use to advocate for services for their child.  <br>

                            Spectrum of care - Programming that focuses on building efficacy within the Autistic Community. We build a strong foundation within families by providing support, training, avocacy  and panel discusiions focussing on empower parents/caretakers to become their child's first and best advocate. Our Program as below:-

                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-dot-circle-o"></i> <b>Establish three registered apprenticeship</b>
                            </li>
                            <li>
                                <i class="fa fa-dot-circle-o"></i> <b>Expand Workforce options for youth</b>
                            </li>
                            <li>
                                <i class="fa fa-dot-circle-o"></i> <b>improve employment prospects and job search skills for post-secondary autistic</b>
                            </li>
                            <li>
                                <i class="fa fa-dot-circle-o"></i> <b>development of stronger linkages between career services and disability services offices</b>
                            </li>
                            <li>
                                <i class="fa fa-dot-circle-o"></i> <b>demonstrate the impact of post-secondary career mentoring programs that connect local business professionals</b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>
<!-- End About area --
<!-- our founder -->
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Our<i> Founder</i></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">Miss Sabs</h4>
                        </a>
                        <p>
                            Ms Sabs is the mother of teen son and an adult daugther. In 2008 shortly after her son's second birthday, he was diagnosed with an autism spectrum disorder. As she searched for support services for her family, she soon relized a disparity in the black community. In 2009 she founded The color of Autism Foundation to support Sarawakian families with children on the autism spectrum. The color of Autism Foundation's aim to help families identify the warning sign of autism early on, so they can become their child's best advocate. Providing culturally competent support and training will improve outcomes for children in underserved communitities on the autism spectrum.

                        </p>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <img src="sabs.jpeg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end our founder area -->
<!-- Start reviews Area -->
<div class="reviews-area hidden-xs">
    <div class="work-us">
        <div class="work-left-text">
            <a href="#">
                <img src="Autism1.jpeg" alt="">
            </a>
        </div>
        <div class="work-right-text text-center">
            <h2>Stay Informed</h2>
            <h5>Get updates about our latest programs and upcoming events!</h5>
            <a href="#contact" class="ready-btn">Contact us</a>
        </div>
    </div>
</div>
<!-- End reviews Area -->

<!-- Start contact Area -->
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Contact us</h2>
                    </div>
                </div>
            </div>
            <div class="row">


                <!--ohyeah-->
                <!-- Start Google Map -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Start Map -->

                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe width="510" height="335" id="gmap_canvas" src="https://maps.google.com/maps?q=uts sibu&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/">nordvpn cyber monday</a></div><style>
                                                                                                                                                                                                                                                                                                                                                                   .mapouter {
                                                                                                                                                                                                                                                                                                                                                                       position: relative;
                                                                                                                                                                                                                                                                                                                                                                       text-align: right;
                                                                                                                                                                                                                                                                                                                                                                       height: 335px;
                                                                                                                                                                                                                                                                                                                                                                       width: 510px;
                                                                                                                                                                                                                                                                                                                                                                   }

                                                                                                                                                                                                                                                                                                                                                                   .gmap_canvas {
                                                                                                                                                                                                                                                                                                                                                                       overflow: hidden;
                                                                                                                                                                                                                                                                                                                                                                       background: none !important;
                                                                                                                                                                                                                                                                                                                                                                       height: 335px;
                                                                                                                                                                                                                                                                                                                                                                       width: 510px;
                                                                                                                                                                                                                                                                                                                                                                   }</style>
                    </div>
                    <!-- End Map -->
                </div>
                <!-- End Google Map -->
                <!-- Start  contact -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form contact-form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>
                <!-- End Left contact -->
            </div>
        </div>
    </div>
</div>
<!-- End Contact Area -->
