@page
@model Projecttest1.Pages.OurworkModel
@{
}

<link href="~/css/ourW.css" rel="stylesheet">
<!---tagged area---->
<br>
<br>
<br>
<div class="box1" id="tagged">
    <a href="aboutUs" class="lines">Who we are</a>
    <a href="Ourwork" class="lines">Our Work</a>
    <a href="Team" class="lines">Team</a>
    <a href="Policies" class="lines">Policies</a>
</div>

<!-- Start About area -->
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Our <i>Programs</i></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="Autism_Awareness.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">Autism Foundation</h4>
                        </a>
                        <p>
                            We are Non-profit organization committed to education and assisting Sarawakian families with autistic children<br>

                            Our goal is to help families identify the warning signs of autism early on. We empower families with information on autism that they can use to advocate for services for their child.  <br>

                            Spectrum of care - Programming that focuses on building efficacy within the Autistic Community. We build a strong foundation within families by providing support, training, avocacy  and panel discusiions focussing on empower parents/caretakers to become their child's first and best advocate. Our Program as below:-

                        </p>
                        <ul>
                            <li>
                                <i class="fa fa-check"></i> <b>Establish three registered apprenticeship</b>
                            </li>
                            <li>
                                <i class="fa fa-check"></i> <b>Expand Workforce options for youth</b>
                            </li>
                            <li>
                                <i class="fa fa-check"></i> <b>improve employment prospects and job search skills for post-secondary autistic</b>
                            </li>
                            <li>
                                <i class="fa fa-check"></i> <b>development of stronger linkages between career services and disability services offices</b>
                            </li>
                            <li>
                                <i class="fa fa-check"></i> <b>demonstrate the impact of post-secondary career mentoring programs that connect local business professionals</b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>
<!-- End About area -->
<!-- Start video asd area -->
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Challenges <i> ASD</i></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <ul>
                            <li>
                                <i class="fa fa-check"></i> <b>Establish three registered apprenticeship</b>
                            </li>
                            <li>
                                <i class="fa fa-check"></i> <b>Expand Workforce options for youth</b>
                            </li>
                            <li>
                                <i class="fa fa-check"></i> <b>improve employment prospects and job search skills for post-secondary autistic</b>
                            </li>
                            <li>
                                <i class="fa fa-check"></i> <b>development of stronger linkages between career services and disability services offices</b>
                            </li>
                            <li>
                                <i class="fa fa-check"></i> <b>demonstrate the impact of post-secondary career mentoring programs that connect local business professionals</b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <video width="320" height="240" align="left" controls>
                            <source src="/The World of Autism PSA _ Autism Speaks.mp4" type="video/mp4">
                            <source src="/The World of Autism PSA _ Autism Speaks.mp4" type="video/ogg">
                        </video>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>
<!-- End About area -->

<br>