@page
@model Projecttest1.Pages.PoliciesModel
@{
}

<link href="~/css/policies.css" rel="stylesheet">

<!---tagged area---->
<br>
<br>
<br>
<div class="box1" id="tagged">
    <a href="aboutUs" class="lines">Who we are</a>
    <a href="Ourwork" class="lines">Our Work</a>
    <a href="Team" class="lines">Team</a>
    <a href="Policies" class="lines">Policies</a>
</div>

<!--------------- box area---------->
<br>
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Our<i> Policies</i></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box2" id="options">

    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Options<i> Policy</i></h3>
                    </div>
                </div>
            </div>
        </div>
        The Autism Society promotes active and informed involvement of family members and the individual with autism in the planning of individualized, appropriatte services and support. The board of the Autism Society believes that each person with autism is a unique individual. Each family and individual with autism should have the right to learn about and then select the options that they feel are the most appropriate for the individual with autism. to the maximum extent possible, we believe that both the parents and the individual with autism should make decisions.<br>
        Services should enhance and strengthen natural family and community supports for the individual with autism and the family whenever possible. The service option designed for and individual with autism should result improved quality of life. Abusive treatment of any kind is not an option.

    </div>
</div>
<br>

<div class="box3" id="term">
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Our<i> Term</i></h3>
                    </div>
                </div>
            </div>
        </div>

        The terms "autism" and "pervasive development disorder" are sometimes used interchangeably on this site. Although some people distinguish between these two diagnoses, the same educational strategies and interventions will help children with either diagnosis.

    </div>
</div>
<br>

<div class="box4" id="privacy">
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Our<i> Privacy</i></h3>
                    </div>
                </div>
            </div>
        </div>


        AcadianaAutism.or does not collect personal information from users of this site. It does not send unsolicited e-mail or spam through its email services. ALL recipients of email sent through the bulk email service we use, Constant Contact, have given their consent to receive email form Autism Society Acadiana. If you do not wish to remain on our email list, please follow the instructions to unsubscribe, or contact our office to have your email address removed from the list.

    </div>

</div>
<br>

<div class="box3" is="webs">
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Our<i> Website</i></h3>
                    </div>
                </div>
            </div>
        </div>


        If you encounter problems with this site, such as errors either in the formatting, links or factual information, please let us know. We welcome your comments and suggestions. <i>Email us</i><br><br>

        <i>
            <b>

                The information found on this website is for informational purposes only. No endorsement of any particular therapy or intervention is implied. Because no two individuals with autism are the same, you are strongly encouraged to research all information offered to determine whether any approach, treatment or program may be beneficial to you, your children, or your students.

            </b>
        </i>

    </div>


</div>


<br>
<br>