@page
@model Projecttest1.Pages.TeamModel
@{
}

<!---tagged area---->
<br>
<br>
<br>
<br>
<div class="box1" id="tagged">
    <a href="aboutUs.html" class="lines">Who we are</a>
    <a href="ourWork.html" class="lines">Our Work</a>
    <a href="team" class="lines">Team</a>
    <a href="policies.html" class="lines">Policies</a>
</div>

<!-- Start team Area -->
<div id="team" class="our-team-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Team </h2>
                    <h3>board of trustness</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-top">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-team-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="stick-man.jpg" alt="">
                            </a>

                            <div class="team-social-icon text-center">
                                <ul>
                                    <li>

                                        <a href="#">

                                            <i class="fa fa-facebook"></i>
                                        </a>

                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h4>Name</h4>
                            <p>Biodata</p>
                        </div>
                    </div>
                </div>
                <!-- End column -->
                <div align="right">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single-team-member">
                            <div class="team-img">
                                <div class="pull-">
                                    <a href="#">
                                        <img src="stick-man.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>Name</h4>
                                    <p>Biodata</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End column -->
                <div align="right">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single-team-member">
                            <div class="team-img">
                                <div class="pull-">
                                    <a href="#">
                                        <img src="stick-man.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>Name</h4>
                                    <p>Biodata</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End column -->
                <div align="right">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single-team-member">
                            <div class="team-img">
                                <div class="pull-">
                                    <a href="#">
                                        <img src="stick-man.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>Name</h4>
                                    <p>Biodata</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End column -->

                <br>
                <br>

                <!-- End column -->
            </div>
        </div>
    </div>
</div>

<!-- Start team 2 Area -->
<div id="team" class="our-team-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Advisor and contributors</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-top">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-team-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="stick-man.jpg" alt="">
                            </a>

                            <div class="team-social-icon text-center">
                                <ul>
                                    <li>

                                        <a href="#">

                                            <i class="fa fa-facebook"></i>
                                        </a>

                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h4>Name</h4>
                            <p>Biodata</p>
                        </div>
                    </div>
                </div>
                <!-- End column -->
                <div align="right">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single-team-member">
                            <div class="team-img">
                                <div class="pull-">
                                    <a href="#">
                                        <img src="stick-man.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>Name</h4>
                                    <p>Biodata</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End column -->
                <div align="right">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single-team-member">
                            <div class="team-img">
                                <div class="pull-">
                                    <a href="#">
                                        <img src="stick-man.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>Name</h4>
                                    <p>Biodata</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End column -->
                <!-- End column -->
                <div align="right">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="single-team-member">
                            <div class="team-img">
                                <div class="pull-">
                                    <a href="#">
                                        <img src="stick-man.jpg" alt="">
                                    </a>
                                    <div class="team-social-icon text-center">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>Name </h4>
                                    <p>Biodata</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End column -->
                <br>
                <br>

                <!-- End column -->
            </div>
        </div>
    </div>
</div>

<!-- Start reviews Area -->
<div class="reviews-area hidden-xs">
    <div class="work-us">
        <div class="work-left-text">
            <a href="#">
                <img src="team1.png" alt="">
            </a>
        </div>
        <div class="work-right-text text-center">
            <h2>Carrers & Internship </h2>
            <h5>we also welcoming people to further carrer and also internship here!</h5>
            <h5>Join us now <i>by <a href="joinUs.html">click here!</a></i></h5>
        </div>
    </div>
</div>
<!--- end reviews Area --->
<br>

<!-- Start contact Area -->
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Contact us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Google Map -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Start Map -->

                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe width="510" height="335" id="gmap_canvas" src="https://maps.google.com/maps?q=uts sibu&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/">nordvpn cyber monday</a></div><style>
                                                                                                                                                                                                                                                                                                                                                                   .mapouter {
                                                                                                                                                                                                                                                                                                                                                                       position: relative;
                                                                                                                                                                                                                                                                                                                                                                       text-align: right;
                                                                                                                                                                                                                                                                                                                                                                       height: 335px;
                                                                                                                                                                                                                                                                                                                                                                       width: 510px;
                                                                                                                                                                                                                                                                                                                                                                   }

                                                                                                                                                                                                                                                                                                                                                                   .gmap_canvas {
                                                                                                                                                                                                                                                                                                                                                                       overflow: hidden;
                                                                                                                                                                                                                                                                                                                                                                       background: none !important;
                                                                                                                                                                                                                                                                                                                                                                       height: 335px;
                                                                                                                                                                                                                                                                                                                                                                       width: 510px;
                                                                                                                                                                                                                                                                                                                                                                   }</style>
                    </div>
                    <!-- End Map -->
                </div>
                <!-- End Google Map -->
                <!-- Start  contact -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form contact-form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>
                <!-- End Left contact -->
            </div>
        </div>
    </div>
</div>
<br>

<!-- End Contact Area -->
<div class="section-headline text-center">
    <h2>Financial report </h2>
    <h3>Your Donation helps</h3>
</div>
<br>

<p>Funds research,programs&services</p>
<div class="container1">
    <div class="skills first">60%</div>
</div>

<p>Fundraising</p>
<div class="container1">
    <div class="skills sec">20%</div>
</div>

<p>Management&General</p>
<div class="container1">
    <div class="skills third">20%</div>
</div>
<br>
<br>